<!--{subtemplate common/header_common}-->
	<meta name="application-name" content="$_G['setting']['bbname']" />
	<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
	<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
	<link rel="stylesheet" href="http://a.links123.net/g/src/normalize.css">
	<link rel="stylesheet" href="http://a.links123.net/g/src/util.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/carousel.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/global.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/theme.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/rank.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/topbar.css">
</head>

<body>
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
