<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em> $topic[title]
	</div>
</div>
<link id="style_css" rel="stylesheet" type="text/css" href="static/topic/t1/style.css">
<style id="diy_style" type="text/css">#portal_block_5 {  margin-top:0px !important;}#portal_block_5 .dxb_bc {  margin:0px !important;}</style>
<div id="widgets">
</div>
<div class="wp">
<!--[diy=diypage]--><div id="diypage" class="area"><div id="frame4W2743" class="cl_frame_bm frame move-span cl frame-1"><div class="title frame-title"><span class="titletext">1框架</span></div><div id="frame4W2743_left" class="column frame-1-c"><div id="frame4W2743_left_temp" class="move-span temp"></div><!--{block/5}--></div></div></div><!--[/diy]-->
<!--{if $topic['allowcomment']==1}-->
	{eval
		$data = &$topic;
		$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
		$form_url = "portal.php?mod=portalcp&ac=comment";
		$commentlist = portaltopicgetcomment($topicid);	}
	<!--{template portal/portal_comment}-->
<!--{/if}-->
</div>

<!--{template common/footer}-->