/** forum::index,forum::viewthread **/


/** end **/ 

/** forum::forumdisplay **/
.ttp .a a { background:#F2EBDA ; }.bdl { 
background-color: #F2EBDA;border: 1px solid #F2DD9C}
.bdl dl.a { 
background:#F2EBDA}
.bdl dd.bdl_a a {background-color: #F5F9FB;}
.bdl dt {border: 1px solid #F2DD9C}
/** end **/ 