<!--{if $leftside['favorites']}-->
	<h2 class="mbn"><a href="home.php?mod=space&do=favorite&type=forum">{lang favorite_forums}</a></h2>
	<dl id="lf_fav" class="bdl_fav mbm">
		<!--{loop $leftside['favorites'] $favfid $fdata}-->
			<dd>
				<!--{if !empty($_G['cache']['forums'][$favfid]['domain']) && !empty($_G['setting']['domain']['root']['forum'])}-->
					<a href="http://{$_G['cache']['forums'][$favfid]['domain']}.{$_G['setting']['domain']['root']['forum']}" title="$fdata[0]">$fdata[0]</a>
				<!--{else}-->
					<a href="forum.php?mod=forumdisplay&fid=$favfid">$fdata[0]</a>
				<!--{/if}-->

			</dd>
		<!--{/loop}-->
	</dl>
<!--{else}-->
	<h2 class="bdl_h">{lang forum_nav}</h2>
<!--{/if}-->
<!--{loop $leftside['forums'] $upfid $gdata}-->
<style>
		.bdl .tbn ul{ margin-top: 6px;}
		.bdl dl ul{display: none;}
		.bdl dd a{padding-left: 17px;}
		.bdl dd.bdl_a a{background-color: #fff; margin-left: 12px;color: #333;}
		.bdl dd.bdl_a>a{background-color: #F5F9FB;font-weight: 700;color: #369; margin-left: 3px;padding-left: 17px;}
		.bdl dl.a .bdl_a ul{display: block;}
		.bdl dd.bdl_a li,.bdl dd.bdl_a ul{border:none;}
</style>
	<dl class="{if $fgroupid == $upfid || $_G['setting']['leftsideopen']}a{/if}" id="lf_$upfid">
		<dt><a href="javascript:;" hidefocus="true" onclick="leftside('lf_$upfid')" title="$gdata['name']">$gdata['name']</a></dt>
	<!--{loop $gdata['sub'] $subfid $name}-->
		<dd{if $_G['fid'] == $subfid || $_G['forum']['fup'] == $subfid} class="bdl_a"{/if}>
			<!--{if !empty($_G['cache']['forums'][$subfid]['domain']) && !empty($_G['setting']['domain']['root']['forum'])}-->
				<a href="http://{$_G['cache']['forums'][$subfid]['domain']}.{$_G['setting']['domain']['root']['forum']}" title="$name">$name</a>
			<!--{else}-->
				<span style="width:10px;height:10px;margin: 7px 0 0 5px;float: left; background:url(/static/image/common/arw_r.gif) no-repeat; background-size:12px; cursor:pointer;position:absolute;"></span>
				<a href="forum.php?mod=forumdisplay&fid=$subfid" title="$name">$name</a>
			<!--{/if}-->
			
<!--	此段 <ul> </ul> 部分由下面星号分割线内代码替代
				<ul>
					<li><a href=";">测试三级菜单</a></li>
					<li><a href=";">测试三级菜单</a></li>
					<li><a href=";">测试三级菜单</a></li>
					<li><a href=";">测试三级菜单</a></li>
					<li><a href=";">测试三级菜单</a></li>
				</ul>
-->		
			<!--********************************************************** ttp bm cl  bdl_a    ttp_all-->
<!--{if ($_G['forum']['threadtypes'] && $_G['forum']['threadtypes']['listable']) || count($_G['forum']['threadsorts']['types']) > 0}-->
					<ul id="thread_types" >  <!--class="lf_36"-->
						<!--{hook/forumdisplay_threadtype_inner}-->

						<!--{if $_G['forum']['threadtypes']}-->
							<!--{loop $_G['forum']['threadtypes']['types'] $id $name}-->
								<!--{if $_GET['typeid'] == $id}-->
								<li class="xw1 a"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{if $_GET['sortid']}&filter=sortid&sortid=$_GET['sortid']{/if}{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}"><!--{if $_G[forum][threadtypes][icons][$id] && $_G['forum']['threadtypes']['prefix'] == 2}--><img class="vm" src="$_G[forum][threadtypes][icons][$id]" alt="" /> <!--{/if}-->$name<!--{if $showthreadclasscount[typeid][$id]}--><span class="xg1 num">&nbsp$showthreadclasscount[typeid][$id]</span><!--{/if}--></a></li>
								<!--{else}-->
								<li><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid=$id$forumdisplayadd[typeid]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}"><!--{if $_G[forum][threadtypes][icons][$id] && $_G['forum']['threadtypes']['prefix'] == 2}--><img class="vm" src="$_G[forum][threadtypes][icons][$id]" alt="" /> <!--{/if}-->$name<!--{if $showthreadclasscount[typeid][$id]}--><span class="xg1 num">($showthreadclasscount[typeid][$id])</span><!--{/if}--></a></li>
								<!--{/if}-->
							<!--{/loop}-->
						<!--{/if}-->

						
						<!--{hook/forumdisplay_filter_extra}-->
					</ul>
					<script type="text/javascript">showTypes('thread_types');</script>
				<!--{/if}-->
				
<!--**********************************************************-->
		

		</dd>
	<!--{/loop}-->
	</dl>
<!--{/loop}-->
