<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>另客村发帖</title>
	<link rel="stylesheet" href="http://a.links123.net/g/src/normalize.css">
	<link rel="stylesheet" href="http://a.links123.net/g/src/util.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/carousel.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/global.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/doc.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/theme.css">
</head>
<body class="page_doc">
	<div class="container">
		<div class="top_bar clearfix">
			<div class="wrapper">
				<ul class="pull-right nav">
					<li><a href="###" title="登录">登录</a></li>
					<li><a href="###" title="快速注册">快速注册</a></li>
				</ul>
				<ul class="pull-left nav">
					<li><a href="###" title="首页">首页</a></li>
					<li><a href="###" title="英语角">英语角</a></li>
					<li><a href="###" title="汉语角">汉语角</a></li>
					<li><a href="###" title="导航">导航</a></li>
					<li><a href="###" title="读书">读书</a></li>
					<li><a href="###" title="留言板">留言板</a></li>
				</ul>
			</div>
		</div><!-- /.top_bar -->

		<div class="nav_bar clearfix">
			<div class="wrapper">
				<h1 class="brand pull-left"><a href="###" title="另客村论坛首页">另客村</a>论坛</h1>
				<ul class="pull-right nav">
					<li><a href="###" title="另客阅读">另客阅读</a></li>
					<li><a href="###" title="另客奖学金">另客奖学金</a></li>
					<li><a href="###" title="外教免费阅读">外教免费阅读</a></li>
					<li><a href="###" title="答疑解惑">答疑解惑</a></li>
					<li><a href="###" title="另客云团队">另客云团队</a></li>
				</ul>
			</div>
		</div><!-- /.nav_bar -->

		<div class="profile_bar clearfix">
			<div class="wrapper_1024">
				<div class="profile_wrapper clearfix">
					<div class="pull-left">
						<img src="tests/avator.png" width="200" alt="">
					</div>
					<div class="info_wrapper">
						<form action="" class="pull-right">
							<input type="text" placeholder="搜索论坛"/>
							<button class="btn">搜索</button>
						</form>
						<h2>Test User</h2>
						<p>范德萨发生大方快圣诞节放圣诞节快回房间圣诞节风卡合肥市大了好焚枯食淡方士大夫撒地方撒方士大夫撒地方松岛枫松岛枫松岛枫盛大 <a href="#">修改</a></p>
						<hr>
						<p><label>等级：</label><span>L4</span><label>另米：</label><span>594</span><label>头衔：</label><span>无敌破坏王</span></p>
					</div>
				</div><!-- /.profile_wrapper -->
				<div class="btns_wrapper">
					<a href="###" class="pull-right font-gray"><i class="ico ico-up"></i> 收起</a>
					<a href="###" class="btn" title="修改资料"><i class="ico ico-document"></i> 修改资料</a>
					<a href="###" class="btn" title="好友"><i class="ico ico-person"></i> 好友</a>
					<a href="###" class="btn" title="群组"><i class="ico ico-group"></i> 群组</a>
					<a href="###" class="btn" title="我的帖子"><i class="ico ico-list"></i> 我的帖子</a>
					<a href="###" class="btn" title="我的收藏"><i class="ico ico-heart"></i> 我的收藏</a>
					<a href="###" class="btn" title="道具"><i class="ico ico-magic"></i> 道具</a>
					<a href="###" class="btn" title="勋章"><i class="ico ico-medal"></i> 勋章</a>
					<a href="###" class="btn" title="成就"><i class="ico ico-star"></i> 成就</a>
					<a href="###" class="btn" title="每日任务"><i class="ico ico-paper"></i> 每日任务</a>
					<a href="###" class="btn" title="排行榜"><i class="ico ico-no1"></i> 排行榜</a>
				</div><!-- /.btns_wrapper -->
			</div>
		</div><!-- /.profile_bar -->

		<div class="main_page wrapper_1024 clearfix">
			<div class="breadcrumbs">
				<strong class="font-gray">您的位置：</strong>
				<a href="###">另客论坛</a>
				<span>&gt;</span>
				<a href="###" class="active">另客论坛</a>
			</div><!-- breadcrumbs -->
			<div class="clearfix pagin_bar">
				<div class="pagin pull-right">
					<a href="###" class="btn">1</a>
					<a href="###" class="other">2</a>
					<a href="###" class="other">3</a>
					<a href="###" class="other">4</a>
					<span class="other">...</span>
					<a href="###" class="other">12</a>
					<a href="###" class="other">13</a>
					<a href="###" class="other">14</a>
					<span>
						<a href="###" class="btn">上一页</a>
						<a href="###" class="btn">下一页</a>
					</span>
				</div>
				<button class="btn btn-black"><i class="ico ico-plus"></i> 发帖</button>
			</div><!--/.clearfix-->
			<div class="floors">
				<div class="floor clearfix">
					<div class="profile_wrapper male pull-left">
						<h2>测试用户</h2>
						<img src="tests/avator.png" width="100" alt="">
						<div class="clearfix row">
							<div class="cell">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
							<div class="cell cell-border">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
							<div class="cell">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
						</div>
						<h3>头衔:学渣</h3>
						<div class="progress-bar">
							<div class="progress-inner" style="width:70%"></div>
						</div>
						<p>威望：134</p>
						<p>威望：134</p>
						<p>威望：134</p>
						<br>
						<a href="###" class="btn btn-small">加为好友</a>
					</div><!-- profile_wrapper -->
					<div class="floor_body">
						<div class="title_bar">
							<div class="floor_inner">
								<h3>的撒旦撒旦撒旦噻</h3> <a href="###" class="btn btn-small">复制链接</a>
							</div><!-- /.floor_inner -->	
							<hr>
							<div class="floor_inner">
								<span class="font-gray pull-right">升降机直达: <input type="text" class="input-mini"></span>
								<p class="font-gray">
									<span>创建时间：2014-01-01</span>
									<span>本帖最后由 匿名 于 2014-02-02 编辑</span>
									<span>阅读：<strong class="font-red">794</strong></span>
									<span>回复：<strong class="font-red">794</strong></span>
								</p>
							</div><!-- /.floor_inner -->
						</div><!-- /.title_bar -->
						<div class="floor_inner">
							<div class="article">
								<p>倒萨大师的撒打算打算打算打算打算打算</p>
								<p>倒萨大师的撒打算打算打算打算打算打算</p>
								<p>倒萨大师的撒打算打算打算打算打算打算倒萨大师的撒打算打算打算打算打算打算</p>
							</div><!-- /.article -->
							<div class="btns">
								<a href="###" class="btn btn-small">回复</a>
								<a href="###" class="btn btn-small"><i class="ico ico-heart"></i> 收藏</a>
								<a href="###" class="btn btn-small">赞</a>
								<a href="###" class="btn btn-small">举报</a>
							</div>
						</div><!-- /.floor_inner -->
					</div><!-- /.floor_body -->
				</div><!-- /.floor -->
				<div class="floor clearfix">
					<div class="profile_wrapper female pull-left">
						<h2>测试用户</h2>
						<img src="tests/avator.png" width="100" alt="">
						<div class="clearfix row">
							<div class="cell">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
							<div class="cell cell-border">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
							<div class="cell">
								<strong class="font-pink">32</strong>
								<p>主题</p>
							</div>
						</div>
						<h3>头衔:学渣</h3>
						<div class="progress-bar">
							<div class="progress-inner" style="width:70%"></div>
						</div>
						<p>威望：134</p>
						<p>威望：134</p>
						<p>威望：134</p>
						<br>
						<a href="###" class="btn btn-small">加为好友</a>
					</div><!-- profile_wrapper -->
					<div class="floor_body">
						<div class="title_bar">
							<div class="floor_inner">
								<span class="pull-right font-gray">2F</span>
								<p class="font-gray">
									<span>创建于：2014-01-01</span>
								</p>
							</div><!-- /.floor_inner -->
						</div>
						<div class="floor_inner">
							<div class="article">
								<p>倒萨大师的撒打算打算打算打算打算打算</p>
								<p>倒萨大师的撒打算打算打算打算打算打算</p>
								<p>倒萨大师的撒打算打算打算打算打算打算倒萨大师的撒打算打算打算打算打算打算</p>
							</div><!-- /.article -->
							<div class="feed clearfix">
								<div class="one clearfix">
									<img src="tests/avator.png" width="50" class="pull-left" alt="">
									<div class="one_body">
										<h4><a href="#" class="font-blue">男生:</a></h4>
										<p>
											撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
										</p>
										<span class="font-gray">2小时</span>
										<div class="one_btns">
											<a href="###"><i class="ico ico-reply"></i> 回复</a>
											<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
										</div>
									</div>
								</div><!--/.one-->
								<div class="sub_feed">
									<div class="one clearfix">
										<img src="tests/avator.png" width="50" class="pull-left" alt="">
										<div class="one_body">
											<h4><a href="#" class="font-blue">男生:</a></h4>
											<p>
												撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
											</p>
											<span class="font-gray">2小时</span>
											<div class="one_btns">
												<a href="###"><i class="ico ico-reply"></i> 回复</a>
												<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
											</div>
										</div>
									</div><!--/.one-->
									<div class="sub_feed">
										<div class="one clearfix">
											<img src="tests/avator.png" width="50" class="pull-left" alt="">
											<div class="one_body">
												<h4><a href="#" class="font-blue">男生:</a></h4>
												<p>
													撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
												</p>
												<span class="font-gray">2小时</span>
												<div class="one_btns">
													<a href="###"><i class="ico ico-reply"></i> 回复</a>
													<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
												</div>
											</div>
										</div><!--/.one-->
									</div><!--/.sub-feed-->
								</div><!--/.sub-feed-->
							</div><!-- /.feed -->
							<div class="btns">
								<a href="###" class="btn btn-small">回复</a>
								<a href="###" class="btn btn-small">赞·1</a>
								<a href="###" class="btn btn-small">举报</a>
							</div>
						</div><!-- /.floor_inner -->
					</div><!-- /.floor_body -->
				</div><!-- /.floor -->
			</div><!--/.floors-->
			<div class="pagin_bar clearfix">
				<div class="pagin pull-right">
					<a href="###" class="btn">1</a>
					<a href="###" class="other">2</a>
					<a href="###" class="other">3</a>
					<a href="###" class="other">4</a>
					<span class="other">...</span>
					<a href="###" class="other">12</a>
					<a href="###" class="other">13</a>
					<a href="###" class="other">14</a>
					<span>
						<a href="###" class="btn">上一页</a>
						<a href="###" class="btn">下一页</a>
					</span>
				</div><!-- /.pagin -->
				<button class="btn btn-black"><i class="ico ico-plus"></i> 发帖</button>
			</div><!--/.clearfix-->
			<div class="floor clearfix">
					<div class="profile_wrapper fixheight pull-left">
						<img src="tests/avator.png" width="100" alt="">
					</div><!-- profile_wrapper -->
					<div class="floor_body editor">
						<div class="tool_bar">
							<div class="floor_inner">
								<span class="dropdown">
									<span href="###">字体 <i class="ico ico-trig"></i></span>
									<div class="submenu">
										<a href="###">1</a><br>
										<a href="###">2</a><br>
										<a href="###">3</a><br>
										<a href="###">4</a><br>
										<a href="###">5</a><br>
										<a href="###">6</a><br>
									</div>
								</span>
								<span class="split">|</span>
								<span class="dropdown">
									<span>大小 <i class="ico ico-trig"></i></span>
									<div class="submenu">
										<a href="###">1</a><br>
										<a href="###">2</a><br>
										<a href="###">3</a><br>
										<a href="###">4</a><br>
										<a href="###">5</a><br>
										<a href="###">6</a><br>
									</div>
								</span>
								<span class="split">|</span>
								<span class="trig ico ico-color"></span>
								<span class="trig ico ico-bold"></span>
								<span class="trig ico ico-italy"></span>
								<span class="trig ico ico-underline"></span>
								<span class="trig ico ico-removeline"></span>
								<span class="split">|</span>
								<span class="trig ico ico-tl"></span>
								<span class="trig ico ico-tc"></span>
								<span class="trig ico ico-tfull"></span>
								<span class="trig ico ico-tr"></span>
								<span class="split">|</span>
								<span class="trig ico ico-ul"></span>
								<span class="trig ico ico-ol"></span>
								<span class="trig ico ico-hr"></span>
								<span class="split">|</span>
								<span class="trig ico ico-appendix"></span>
								<span class="trig ico ico-pic"></span>
							</div><!-- /.floor_inner -->
						</div><!--/.tool_bar-->
						<div class="floor_inner">
							<div class="edit_area" contenteditable="true"></div>
							<div class="btns">
								<a href="###" class="btn btn-small">发表回复</a>
								<label for="J_anonymity" class="checkbox">
									<input id="J_anonymity" type="checkbox"> 匿名发表
								</label>
							</div><!--/.btns-->
						</div><!-- /.floor_inner -->
					</div><!-- /.floor_body -->
			</div><!-- /.floor -->
		</div><!-- /.main_page -->

		<div class="footer wrapper_1024">
			<ul class="nav">
				<li><a href="###" title="关于另客">关于另客</a></li>
				<li><a href="###" title="联系我们">联系我们</a></li>
				<li><a href="###" title="留言板">留言板</a></li>
				<li><a href="###" title="推荐链接">推荐链接</a></li>
				<li><a href="###" title="申请友链">申请友链</a></li>
			</ul>
		</div><!-- /.footer -->

	</div><!-- /.container -->
</body>
</html>