<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>另客村评论</title>
	<link rel="stylesheet" href="http://a.links123.net/g/src/normalize.css">
	<link rel="stylesheet" href="http://a.links123.net/g/src/util.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/carousel.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/global.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/list.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/theme.css">
</head>
<body class="page_list">
	<div class="container">
		<div class="top_bar clearfix">
			<div class="wrapper">
				<ul class="pull-right nav">
					<li><a href="###" title="登录">登录</a></li>
					<li><a href="###" title="快速注册">快速注册</a></li>
				</ul>
				<ul class="pull-left nav">
					<li><a href="###" title="首页">首页</a></li>
					<li><a href="###" title="英语角">英语角</a></li>
					<li><a href="###" title="汉语角">汉语角</a></li>
					<li><a href="###" title="导航">导航</a></li>
					<li><a href="###" title="读书">读书</a></li>
					<li><a href="###" title="留言板">留言板</a></li>
				</ul>
			</div>
		</div><!-- /.top_bar -->

		<div class="nav_bar clearfix">
			<div class="wrapper">
				<h1 class="brand pull-left"><a href="###" title="另客村论坛首页">另客村</a>论坛</h1>
				<ul class="pull-right nav">
					<li><a href="###" title="另客阅读">另客阅读</a></li>
					<li><a href="###" title="另客奖学金">另客奖学金</a></li>
					<li><a href="###" title="外教免费阅读">外教免费阅读</a></li>
					<li><a href="###" title="答疑解惑">答疑解惑</a></li>
					<li><a href="###" title="另客云团队">另客云团队</a></li>
				</ul>
			</div>
		</div><!-- /.nav_bar -->

		<div class="profile_bar clearfix">
			<div class="wrapper">
				<div class="profile_wrapper clearfix">
					<div class="pull-left">
						<img src="tests/avator.png" width="200" alt="">
					</div>
					<div class="info_wrapper">
						<form action="" class="pull-right">
							<input type="text" placeholder="搜索论坛"/>
							<button class="btn">搜索</button>
						</form>
						<h2>Test User</h2>
						<p>范德萨发生大方快圣诞节放圣诞节快回房间圣诞节风卡合肥市大了好焚枯食淡方士大夫撒地方撒方士大夫撒地方松岛枫松岛枫松岛枫盛大 <a href="#">修改</a></p>
						<hr>
						<p><label>等级：</label><span>L4</span><label>另米：</label><span>594</span><label>头衔：</label><span>无敌破坏王</span></p>
					</div>
				</div><!-- /.profile_wrapper -->
				<div class="btns_wrapper">
					<a href="###" class="pull-right font-gray"><i class="ico ico-up"></i> 收起</a>
					<a href="###" class="btn" title="修改资料"><i class="ico ico-document"></i> 修改资料</a>
					<a href="###" class="btn" title="好友"><i class="ico ico-person"></i> 好友</a>
					<a href="###" class="btn" title="群组"><i class="ico ico-group"></i> 群组</a>
					<a href="###" class="btn" title="我的帖子"><i class="ico ico-list"></i> 我的帖子</a>
					<a href="###" class="btn" title="我的收藏"><i class="ico ico-heart"></i> 我的收藏</a>
					<a href="###" class="btn" title="道具"><i class="ico ico-magic"></i> 道具</a>
					<a href="###" class="btn" title="勋章"><i class="ico ico-medal"></i> 勋章</a>
					<a href="###" class="btn" title="成就"><i class="ico ico-star"></i> 成就</a>
					<a href="###" class="btn" title="每日任务"><i class="ico ico-paper"></i> 每日任务</a>
					<a href="###" class="btn" title="排行榜"><i class="ico ico-no1"></i> 排行榜</a>
				</div><!-- /.btns_wrapper -->
			</div>
		</div><!-- /.profile_bar -->

		<div class="main_page clearfix">

			<div class="list_top_bar clearfix">
				<button class="btn btn-black"><i class="ico ico-plus"></i> 发帖</button>
				<span class="breadcrumbs">
					<strong class="font-gray">您的位置：</strong>
					<a href="###">另客论坛</a>
					<span>&gt;</span>
					<a href="###" class="active">另客论坛</a>
				</span><!-- breadcrumbs -->
				<span class="font-lightgray">|</span>
				<span><strong class="font-gray">今日主题：</strong> <strong class="font-red">1888</strong></span>
				<span class="font-lightgray">|</span>
				<span><strong class="font-gray">版主：</strong> <strong><a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a></strong></span>
			</div><!--/.list-top-bar-->

			<div class="clearfix">
				<div class="list_wrapper pull-left">
					<div class="list_title row">
						<div class="cell1 cell">
							<strong>全部主题</strong>
							<a href="###" class="font-green">最新</a>
							<a href="###" class="font-green">最新</a>
							<a href="###" class="font-green">最新</a>
						</div>
						<div class="cell2 cell">
							<strong>作者</strong>
						</div>
						<div class="cell2 cell">
							<strong>回复/查看</strong>
						</div>
						<div class="cell2 cell">
							<strong>最后发表</strong>
						</div>
					</div>
					<ul class="list_body">
						<li>
							<div class="article row">
								<div class="cell cell1">
									<h3>
										<a href="#" class="font-hot">
										<span>的撒旦撒旦撒旦范德萨放松放松</span></a>
									</h3>
								</div>
								<div class="cell cell2">
									<a href="###" class="font-pink">Author</a>
									<br>
									<span class="font-gray">2小时前</span>
								</div>
								<div class="cell cell2">
									<span class="font-green">223</span>
									<br>
									<span class="font-gray">412</span>
								</div>
								<div class="cell cell2">
									<a href="###" class="font-gray">测试用户</a>
									<br>
									<span class="font-gray">2分钟前</span>
								</div>
							</div><!-- /.article -->
						</li>					
					</ul><!--/.list_body-->
					<div class="list_title row">
						<div class="cell1 cell">
							<strong>本版主题</strong>
						</div>
						<div class="cell2 cell">
							<strong>作者</strong>
						</div>
						<div class="cell2 cell">
							<strong>回复/查看</strong>
						</div>
						<div class="cell2 cell">
							<strong>最后发表</strong>
						</div>
					</div><!--/.list_title-->
					<ul class="list_body">
						<li>
							<div class="article row">
								<div class="cell cell1">
									<h3>
										<a href="#"><i class="ico ico-top"></i>
										<span>的撒旦撒旦撒旦范德萨放松放松</span></a>
									</h3>
								</div>
								<div class="cell cell2">
									<a href="###">Author</a>
									<br>
									<span class="font-gray">2小时前</span>
								</div>
								<div class="cell cell2">
									<span class="font-green">223</span>
									<br>
									<span class="font-gray">323</span>
								</div>
								<div class="cell cell2">
									<a href="###" class="font-gray">测试用户</a>
									<br>
									<span class="font-gray">2分钟前</span>
								</div>
							</div><!-- /.article -->
						</li>					
					</ul><!--/.list_body-->
				</div><!-- /.list_wrapper -->

				<div class="view_wrapper">
					<div class="title_bar">
						<div class="article_title view_inner">
							<img src="tests/avator.png" class="pull-left" alt="">
							<div class="title_info">
								<h3>学渣不要再发起挑战了</h3> <a href="###" class="btn btn-small">复制链接</a>
								<hr>
								<div>
									<span class="pull-right">升降机直达: <input type="text" class="input-mini"></span>
									<a href="###" class="font-pink">Hello醒醒</a> <span class="font-gray">创建时间：2012-01-01</span>
								</div>
							</div>
						</div><!--/.article_title-->
					</div><!--/.title_bar-->
					<div class="view_body">
						<div class="view_inner">
							<div class="card_layout">
								<div class="article">
									<p>大声道萨达撒的撒旦撒旦撒</p>
									<p>大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒大声道萨达撒的撒旦撒旦撒</p>
								</div>
								<p class="btns">
									<a href="###" class="btn btn-small">收藏</a>
									<a href="###" class="btn btn-small">举报</a>
								</p>
							</div><!-- card_layout -->
							<form action="###" class="feed_form">
								<input type="text">
								<a href="###" class="btn">发表点评</a>
							</form>
							<div class="card_layout feed clearfix">
								<div class="one clearfix">
									<img src="tests/avator.png" width="50" class="pull-left" alt="">
									<div class="one_body">
										<h4><a href="#" class="font-blue">男生:</a></h4>
										<p>
											撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
										</p>
										<span class="font-gray">2小时</span>
										<div class="one_btns">
											<a href="###"><i class="ico ico-reply"></i> 回复</a>
											<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
										</div>
									</div>
								</div><!--/.one-->
								<div class="sub_feed">
									<div class="one clearfix">
										<img src="tests/avator.png" width="50" class="pull-left" alt="">
										<div class="one_body">
											<h4><a href="#" class="font-blue">男生:</a></h4>
											<p>
												撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
											</p>
											<span class="font-gray">2小时</span>
											<div class="one_btns">
												<a href="###"><i class="ico ico-reply"></i> 回复</a>
												<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
											</div>
										</div>
									</div><!--/.one-->
									<div class="sub_feed">
										<div class="one clearfix">
											<img src="tests/avator.png" width="50" class="pull-left" alt="">
											<div class="one_body">
												<h4><a href="#" class="font-blue">男生:</a></h4>
												<p>
													撒旦撒浪费了的撒开发sd卡反馈独守空房快独守空房快递费健身卡
												</p>
												<span class="font-gray">2小时</span>
												<div class="one_btns">
													<a href="###"><i class="ico ico-reply"></i> 回复</a>
													<a href="###"><i class="ico ico-good"></i> 赞(1)</a>
												</div>
											</div>
										</div><!--/.one-->
									</div><!--/.sub-feed-->
								</div><!--/.sub-feed-->
							</div><!-- card_layout -->
						</div><!--/.view_inner-->
					</div><!--/.view_body-->
				</div><!-- /.editor_wrapper -->
			</div><!-- /.clearfix -->

		</div><!-- /.main_page -->

		<div class="footer wrapper clearfix">
			<ul class="nav">
				<li><a href="###" title="关于另客">关于另客</a></li>
				<li><a href="###" title="联系我们">联系我们</a></li>
				<li><a href="###" title="留言板">留言板</a></li>
				<li><a href="###" title="推荐链接">推荐链接</a></li>
				<li><a href="###" title="申请友链">申请友链</a></li>
			</ul>
		</div><!-- /.footer -->

	</div><!-- /.container -->
</body>
</html>