<!-- x{x template common/header_note x} x -->
<!--{template common/header_bbs}-->

<!--{if $_G['forum']['ismoderator']}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if empty($_G['forum']['picstyle']) || $_G['cookie']['forumdefstyle']}-->
	<script type="text/javascript">var lasttime = $_G['timestamp'];var listcolspan= '{if !$_GET['archiveid'] && $_G['forum']['ismoderator']}6{else}5{/if}';</script>
<!--{/if}-->
<script type="text/javascript" src="{$_G[setting][jspath]}jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	function preview_note(thread_id, tbody, lastpost, dateline, author, subject, lastposter) {
		var noteObj = jQuery('.note-content');
		noteObj.find('.title').text(subject);
		noteObj.find('.meta').html('');
		if (subject) {
			noteObj.find('.meta').html('<span>创建时间: ' + dateline + ' by <span class="name">' + author + '</span></span><span>修改时间：' + lastpost + '  by <span class="name">' + lastposter + '</span></span>');
		}
		noteObj.find('.text').html('');
		noteObj.find('.text').attr('id', tbody);
		if (thread_id) {
			previewThread(thread_id, tbody);
		}
	}
</script>




<div class="container">
	<div class="main_page clearfix"> <!--note-main-->
		<div class="profile_bar clearfix">
			<div class="wrapper">
				 <!--<div class="list_top_bar clearfix"> -->
				<!-- 发新帖按钮  -->
				<!--{if !$_GET['archiveid'] }--><a href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"{if !$_G['forum']['allowspecialonly'] && empty($_G['forum']['picstyle']) && !$_G['forum']['threadsorts']['required']} onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"{else} onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';return false;"{/if} title="{lang send_posts}" class="btn btn-black">发帖 </a>
				<!--{/if}-->
				<!--
				<button class="btn btn-black" onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';"><i class="ico ico-plus"></i> 发帖</button>
				-->
				<span class="breadcrumbs">
					<strong class="font-gray">您的位置：</strong>
					<a href="forum.php">{$_G[setting][navs][2][navname]}</a>
					<span>&gt;</span>
					<a href="forum.php?mod=forumdisplay&fid=$_G[fid]" class="active">$_G['forum'][name]</a>
				</span><!-- breadcrumbs -->

				<span class="font-lightgray">|</span>
				<span><strong class="font-gray">今日主题：</strong> <strong class="font-red">$_G[forum][todayposts]</strong></span>
				<span class="font-lightgray">|</span>
				<span><strong class="font-gray">版主：</strong> 
				<strong>$moderatedby </strong>
				<!--
				<a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a>, <a href="###" class="font-green">test1</a>
				-->
				</span>
							

					<div class="info_wrapper"  style="">
						<form action="" class="pull-right">
							<input type="text" placeholder="搜索论坛"/>
							<button class="btn">搜索</button>
						</form>
	
					</div><!-- /.profile_wrapper -->
			</div><!--/.list-top-bar-->
		


		


			</div>
		</div><!-- /.profile_bar -->


		
        <div class=""><!--rf-sidebar-->
            <div class="lf note-list">
                <div class="title"><img src="/static/note/imgs/notebook-ico.png" alt="" class="notebook-ico">$navtitle</div>
                <div class="note-list">
                    <ul>
                        <!--{if $_G['forum_threadcount']}-->
                        <!--{loop $_G['forum_threadlist'] $key $thread}-->	
                        <li>
                            <!-- <div class="tag"><a href="/" class="pink">Top</a><a href="/">Top</a></div>  -->
                            <h3  onclick="preview_note('{echo $thread['moved'] ? $thread[closed] : $thread[tid]}', '$thread[id]', '$thread[lastpost]', '$thread[dateline]','$thread[author]', '$thread[subject]', '$thread[lastposter]');">$thread[subject]</h3>
                            <span class="time-ago">{$thread[lastpost]}</span>
                            <span class="summary" id="content_$thread[tid]" title="{lang content_actions}" onclick="CONTENT_TID='$thread[tid]';CONTENT_ID='$thread[id]';showMenu({'ctrlid':this.id,'menuid':'content_menu'})">$thread[typehtml] $thread[sorthtml]</span>
                        </li>						
						<!--{/loop}-->
						<!--{else}-->
							{lang forum_nothreads}
						<!--{/if}-->
                    </ul>
                    <div class="note-list-bottom">
                        排列顺序：<span class="on">更新</span>  <span>创建</span>  <span>标题</span>
                    </div>
                </div>
            </div>
            <div class="lf note-content">
                <div class="title"><h2>$_G['forum_threadlist'][0][subject]</h2></div>
                <div class="meta"><span>创建时间: $_G['forum_threadlist'][0][dateline] by <span class="name">$_G['forum_threadlist'][0][author]</span></span><span>修改时间：{$_G['forum_threadlist'][0][lastpost]}  by <span class="name">$_G['forum_threadlist'][0][lastposter]</span></span></div>
                <div class="content">
                    <div class="content-bg">
                        <!-- <div class="praise-btn lf"><span>0</span></div> -->
                        <div class="text J_note_text" id="$_G[forum_threadlist][0][id]">
                        <script>preview_note('$_G[forum_threadlist][0][tid]', '$_G[forum_threadlist][0][id]', '$_G[forum_threadlist][0][lastpost]', '$_G[forum_threadlist][0][dateline]','$_G[forum_threadlist][0][author]', '$_G[forum_threadlist][0][subject]', '$_G[forum_threadlist][0][lastposter]');</script>
                        </div>
                        <!-- <div class="content-bottom-bar tag"><a href="/">编辑笔记</a><a href="/">删除笔记</a></div> -->
                    </div>
                    <!--
                    <div class="revert-bar clearfix">
                        <form action="/">
                            <textarea name="" id="" class="content-bg" placeholder="输入您的点评"></textarea>
                            <button type="button" class="submit-btn">发表点评</button>
                        </form>
                    </div>
                    
                    <div class="content-bg comment clearfix">
                        <ul>
                            <li class="comment-list">
                                <div class="clearfix comment-wrapper">
                                    <div class="comment-main">
                                        <span class="name">Jim：</span>
                                        <span>LINKS a bilingual community/video keyword/desk/English Corner old/Chinese Corner/Log in...</span>
                                        <span class="time-ago">2小时前</span>
                                    </div>
                                    <div class="comment-meta"><span class="lf"><a href="/" class="reply">回复</a><a href="/" class="up">赞(123)</a></span><span class="rf comment-user-bar"><a href="/">编辑</a><a href="/">删除</a></span></div>
                                </div>
                                <div class="re-comment">
                                    <div class="comment-main">
                                        <span class="name">Jim：</span>
                                        <span>LINKS a bilingual community/video keyword/desk/English Corner old/Chinese Corner/Log in...</span>
                                        <span class="time-ago">2小时前</span>
                                    </div>
                                    <div class="comment-meta"><span class="lf"><a href="/" class="reply">回复</a><a href="/" class="up">赞(123)</a></span><span class="rf comment-user-bar"><a href="/">编辑</a><a href="/">删除</a></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- 底部分页 -->
<!--{if $_G['setting']['threadmaxpages'] > 1 && $page && !$subforumonly}-->
	<script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, <!--{if $page > 1}-->1<!--{else}-->0<!--{/if}-->, <!--{if $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->1<!--{else}-->0<!--{/if}-->, 'forum.php?mod=forumdisplay&fid={$_G[fid]}&filter={$filter}&orderby={$_GET[orderby]}{$forumdisplayadd[page]}&{$multipage_archive}', $page);}</script>
<!--{/if}-->

<!--{if empty($_G['forum']['picstyle']) && $_GET['orderby'] == 'lastpost' && empty($_GET['filter']) }-->
	<script type="text/javascript">checkForumnew_handle = setTimeout(function () {checkForumnew($_G[fid], lasttime);}, checkForumtimeout);</script>
<!--{/if}-->
<!--{if empty($_G['setting']['disfixednv_forumdisplay']) }--><script>fixed_top_nv();</script><!--{/if}-->

<!--{template common/footer_note}-->