<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>另客村首页</title>
	<link rel="stylesheet" href="http://a.links123.net/g/src/normalize.css">
	<link rel="stylesheet" href="http://a.links123.net/g/src/util.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/carousel.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/global.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/index.css">
	<link rel="stylesheet" href="http://a.links123.net/village/src/theme.css">
</head>
<body>
	<div class="container page_index">
		<div class="top_bar clearfix">
			<div class="wrapper">
				<ul class="pull-right nav">
					<li><a href="###" title="登录">登录</a></li>
					<li><a href="###" title="快速注册">快速注册</a></li>
				</ul>
				<ul class="pull-left nav">
					<li><a href="###" title="首页">首页</a></li>
					<li><a href="###" title="英语角">英语角</a></li>
					<li><a href="###" title="汉语角">汉语角</a></li>
					<li><a href="###" title="导航">导航</a></li>
					<li><a href="###" title="读书">读书</a></li>
					<li><a href="###" title="留言板">留言板</a></li>
				</ul>
			</div>
		</div><!-- /.top_bar -->

		<div class="nav_bar clearfix">
			<div class="wrapper">
				<h1 class="brand pull-left"><a href="###" title="另客村论坛首页">另客村</a>论坛</h1>
				<ul class="pull-right nav">
					<li><a href="###" title="另客阅读">另客阅读</a></li>
					<li><a href="###" title="另客奖学金">另客奖学金</a></li>
					<li><a href="###" title="外教免费阅读">外教免费阅读</a></li>
					<li><a href="###" title="答疑解惑">答疑解惑</a></li>
					<li><a href="###" title="另客云团队">另客云团队</a></li>
				</ul>
			</div>
		</div><!-- /.nav_bar -->

		<div class="profile_bar clearfix">
			<div class="wrapper_1024">
				<div class="profile_wrapper clearfix">
					<div class="pull-left">
						<img src="tests/avator.png" width="200" alt="">
					</div>
					<div class="info_wrapper">
						<form action="" class="pull-right">
							<input type="text" placeholder="搜索论坛"/>
							<button class="btn">搜索</button>
						</form>
						<h2>Test User</h2>
						<p>范德萨发生大方快圣诞节放圣诞节快回房间圣诞节风卡合肥市大了好焚枯食淡方士大夫撒地方撒方士大夫撒地方松岛枫松岛枫松岛枫盛大 <a href="#">修改</a></p>
						<hr>
						<p><label>等级：</label><span>L4</span><label>另米：</label><span>594</span><label>头衔：</label><span>无敌破坏王</span></p>
					</div>
				</div><!-- /.profile_wrapper -->
				<div class="btns_wrapper">
					<a href="###" class="pull-right font-gray"><i class="ico ico-up"></i> 收起</a>
					<a href="###" class="btn" title="修改资料"><i class="ico ico-document"></i> 修改资料</a>
					<a href="###" class="btn" title="好友"><i class="ico ico-person"></i> 好友</a>
					<a href="###" class="btn" title="群组"><i class="ico ico-group"></i> 群组</a>
					<a href="###" class="btn" title="我的帖子"><i class="ico ico-list"></i> 我的帖子</a>
					<a href="###" class="btn" title="我的收藏"><i class="ico ico-heart"></i> 我的收藏</a>
					<a href="###" class="btn" title="道具"><i class="ico ico-magic"></i> 道具</a>
					<a href="###" class="btn" title="勋章"><i class="ico ico-medal"></i> 勋章</a>
					<a href="###" class="btn" title="成就"><i class="ico ico-star"></i> 成就</a>
					<a href="###" class="btn" title="每日任务"><i class="ico ico-paper"></i> 每日任务</a>
					<a href="###" class="btn" title="排行榜"><i class="ico ico-no1"></i> 排行榜</a>
				</div><!-- /.btns_wrapper -->
			</div>
		</div><!-- /.profile_bar -->

		<div class="main_page wrapper_1024 clearfix">

			<div class="breadcrumbs">
				<strong class="font-gray">您的位置：</strong>
				<a href="###">另客论坛</a>
				<span>&gt;</span>
				<a href="###" class="active">另客论坛</a>
			</div><!-- breadcrumbs -->

			<div class="grid">
				<div class="row">
					<div class="cell">
						<h2 class="font-gray">最新公告</h2>

						<h3><a class="font-hot" href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
					</div><!--/.cell-->
					<div class="cell">
						<h2 class="font-gray">今日热点</h2>

						<h3><a class="font-hot" href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
						<hr>
						<h3><a href="###">[公共]《猜你妹》今日首次封测</a></h3>
						<p><span class="time font-green">2小时前</span>的撒旦撒旦撒浪费了肯定是看风景飓风桑迪健健康康放发送到</p>
					</div><!--/.cell-->
					<div class="cell">
						<h2 class="font-gray">热门推荐</h2>
						<div id="J_carousel" class="carousel">
							<ul>
								<li>
									<a href="###">
										<img src="tests/1.jpg" alt="title">
									</a>
								</li>
								<li>
									<a href="###">
										<img src="tests/2.jpg" alt="title">
									</a>
								</li>
								<li>
									<a href="###">
										<img src="tests/3.jpg" alt="title">
									</a>
								</li>
								<li>
									<a href="###">
										<img src="tests/4.jpg" alt="title">
									</a>
								</li>
							</ul>
							<ol>
								<li><a href="###">1</a></li>
								<li><a href="###">1</a></li>
								<li><a href="###">1</a></li>
								<li><a href="###">1</a></li>
							</ol>
						</div><!-- /.carousel -->
					</div><!--/.cell-->
				</div>
				<div class="row">
					<div class="cell cell6">
						<h2 class="font-gray">另客版务</h2>
						<div class="row">
							<div class="cell cell5">
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-green pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
							</div><!-- /.cell5 -->
							<div class="cell cell5">
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-red pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
							</div><!-- /.cell5 -->
						</div><!-- /.row -->
						<hr>
						<h2 class="font-gray">产品讨论区</h2>
						<div class="row">
							<div class="cell cell5">
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-orange pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-purple pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-lightgreen pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
							</div>
							<div class="cell cell5">
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-blue pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div>
								<div class="clearfix">
									<i class="ico ico-flag ico-flag-yellow pull-left">Today <br> <strong>25</strong></i>
									<div class="big_desc">
										<h3><a href="###">客服及BUG反馈</a></h3>
										<p>这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
										<hr>
										<p class="font-green"><label>主题：</label><span>1.5k</span> <label>贴数：</label>19万</p>
									</div>
								</div><!-- /.clearfix -->
							</div><!--/.cell5-->
						</div><!-- /.row -->
					</div><!-- /.cell6 -->
					<div class="cell latest">
						<h2 class="font-gray">最新帖子</h2>
						<h3><a href="###">英语口语大全~~~~~~</a></h3>
						<p><span class="font-green">2小时前</span> 这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
						<p class="font-gray">by 小丁丁</p>
						<hr>
						<h3><a href="###">英语口语大全~~~~~~</a></h3>
						<p><span class="font-green">2小时前</span> 这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
						<p class="font-gray">by 小丁丁</p>
						<hr>
						<h3><a href="###">英语口语大全~~~~~~</a></h3>
						<p><span class="font-green">2小时前</span> 这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
						<p class="font-gray">by 小丁丁</p>
						<hr>
						<h3><a href="###">英语口语大全~~~~~~</a></h3>
						<p><span class="font-green">2小时前</span> 这盛大大三大四倒萨倒萨雷文弄丢了面速度多少了发呢可马上没见到您反馈电话费呢倒是觉得开放女万恶电脑</p>
						<p class="font-gray">by 小丁丁</p>
						<hr>
						<p>
							<a href="###" class="btn btn-small">实时更新</a>
							<a href="###" class="btn btn-small">手动更新</a>
						</p>
					</div><!--/.cell-->
				</div><!--/.row-->
			</div><!-- /.grid -->		

		</div><!-- /.main_page -->

		<div class="footer wrapper_1024 clearfix">
			<ul class="nav">
				<li><a href="###" title="关于另客">关于另客</a></li>
				<li><a href="###" title="联系我们">联系我们</a></li>
				<li><a href="###" title="留言板">留言板</a></li>
				<li><a href="###" title="推荐链接">推荐链接</a></li>
				<li><a href="###" title="申请友链">申请友链</a></li>
			</ul>
		</div><!-- /.footer -->

	</div><!-- /.container -->
	<script src="http://a.links123.net/village/src/carousel.js"></script>
</body>
</html>