<script>
function showHide(){     
//调试专用函数 
//document.cookie="CookieMenuViews=1" ;
alert('a');
} 


--> 
</script> 
 <!-- {debug}  -->
<!--{if $leftside['favorites']}-->
	<!-- <h2 class="mbn"><a href="home.php?mod=space&do=favorite&type=forum">{lang favorite_forums}</a></h2> -->
	<h2 class="mbn"><a href="home.php?mod=space&do=favorite&type=all">{lang favorite_forums}</a></h2>
	<dl id="lf_fav" class="bdl_fav mbm">
		<!--{loop $leftside['favorites'] $favfid $fdata}-->
<!--		$favfid $fdata[0] $value[url] -->
			<dd>
				<!--{if !empty($_G['cache']['forums'][$favfid]['domain']) && !empty($_G['setting']['domain']['root']['forum'])}-->
					<a href="http://{$_G['cache']['forums'][$favfid]['domain']}.{$_G['setting']['domain']['root']['forum']}" title="$fdata[0]"><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$fdata[0]</a>
				<!--{else}-->
					<a href="forum.php?mod=forumdisplay&fid=$favfid"><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$fdata[0]</a>
				<!--{/if}-->
				
			</dd>
		<!--{/loop}-->

		
		
	</dl>
<!--{else}-->
	<h2 class="bdl_h">{lang forum_nav}</h2>
<!--{/if}-->

 <!-- xx{ xx eval setcookie("CookieMenuViews", "1",time()+36000;  xx}xx  --> 

<!--{loop $leftside['forums'] $upfid $gdata}-->
	<dl class="{if $fgroupid == $upfid || $_G['setting']['leftsideopen']}a{/if}" id="lf_$upfid">
		<dt><a href="javascript:;" hidefocus="true" onclick="leftside('lf_$upfid')" title="$gdata['name']">$gdata['name']</a></dt>
	<!--{loop $gdata['sub'] $subfid $name}-->
		<dd{if $_G['fid'] == $subfid || $_G['forum']['fup'] == $subfid} class="bdl_a"{/if}>
		
			<!--{if !empty($_G['cache']['forums'][$subfid]['domain']) && !empty($_G['setting']['domain']['root']['forum'])}-->
				<a href="http://{$_G['cache']['forums'][$subfid]['domain']}.{$_G['setting']['domain']['root']['forum']}" title="$name"><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>
			<!--{else}--> 
			
				<!--{if  $_COOKIE["LastViews"] != $_GET['fid']}-->
					<!--xxLV:$_COOKIE["LastViews"] LastMV: $_COOKIE["LastMenuViews"] G_fid:$_G['fid'] -->
					
					<a href="forum.php?mod=forumdisplay&fid=$subfid" onclick='document.cookie="LastViews=$subfid";document.cookie="CookieMenuViews=1";' title="$name" ><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>


					<!--{else}--> 
					 
					<!-- ==LV:$_COOKIE["LastViews"]LastMV: $_COOKIE["LastMenuViews"] G_fid:$_G['fid'] -->
							
								<!--{if $_COOKIE["CookieMenuViews"] == '1'}--> <!--document.cookie="CookieMenuViews=0"   -->
									<a href="forum.php?mod=forumdisplay&fid=$subfid" onclick='document.cookie="CookieMenuViews=0"' title="$name" ><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>
								<!--{else}--> 
									<a href="forum.php?mod=forumdisplay&fid=$subfid" onclick='document.cookie="CookieMenuViews=1"' title="$name" ><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>   
								<!--{/if}-->
					<!--{/if}-->	
			
			
			
			     <!--{if 1>2 && $_COOKIE["CookieMenuViews"] == '1'}--> <!--document.cookie="CookieMenuViews=0"   -->
				<a href="forum.php?mod=forumdisplay&fid=$subfid" onclick='document.cookie="LastViews=$subfid"' title="$name" ><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>
				<!--{else}--> 
			<!--	<a href="forum.php?mod=forumdisplay&fid=$subfid" onclick='document.cookie="LastViews=$subfid"' title="$name" ><img class="vm" src="$_G['style']['styleimgdir']noteup.gif" alt="" />&nbsp$name</a>   -->
				<!--{/if}-->
			<!--{/if}-->
		
		</dd>  


		
		<!-- onclick="showHide(this,'items0'); showHide onclick="display('thread_types')"-->
		<!-- subfid:$subfid fid:$_G['fid'] ,forum:$_G['forum']['threadtypes'] -->
		<!-- 分类列表 移动到左侧菜单 仿印象效果  forumdisplay_leftside.htm  by TT 20140309    class="ttp bm cl"-->
				<!--{if ($_G['forum']['threadtypes'] && $_G['forum']['threadtypes']['listable']) || count($_G['forum']['threadsorts']['types']) > 0}-->
					
					<ul id="thread_types" class=" " style=''>
						<!--{hook/forumdisplay_threadtype_inner}-->
						<!-- <li id="ttp_all" {if !$_GET['typeid'] && !$_GET['sortid']}class="xw1 a"{/if}><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{if $_G['forum']['threadsorts']['defaultshow']}&filter=sortall&sortall=1{/if}{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}">{lang forum_viewall}</a></li> -->
						
						<!--{if $_G['forum']['threadtypes'] && $_G['fid'] == $subfid  &&  $_COOKIE["CookieMenuViews"] == 1}-->
							<script type="text/javascript">// 暂停document.cookie='LastMenuViews="$subfid"';</script>
							<!--{loop $_G['forum']['threadtypes']['types'] $id $name}-->
								<!--{if $_GET['typeid'] == $id}-->
								<li class=""><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{if $_GET['sortid']}&filter=sortid&sortid=$_GET['sortid']{/if}{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}"><!--{if $_G[forum][threadtypes][icons][$id] && $_G['forum']['threadtypes']['prefix'] == 2}--><img class="vm" src="$_G[forum][threadtypes][icons][$id]" alt="" /> <!--{/if}-->&nbsp$name<!--{if $showthreadclasscount[typeid][$id]}--><span class="xg1 num">$showthreadclasscount[typeid][$id]</span><!--{/if}--></a></li>
								<!--{else}-->
								<li><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid=$id$forumdisplayadd[typeid]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}"><!--{if $_G[forum][threadtypes][icons][$id] && $_G['forum']['threadtypes']['prefix'] == 2}--><img class="vm" src="$_G[forum][threadtypes][icons][$id]" alt="" /> <!--{/if}-->&nbsp&nbsp<img class="vm" src="$_G['style']['styleimgdir']note.gif" alt="" /> &nbsp$name<!--{if $showthreadclasscount[typeid][$id]}--><span class="xg1 num">$showthreadclasscount[typeid][$id]</span><!--{/if}--></a></li>
								<!--{/if}-->
								
								
								
							<!--{/loop}-->
						<!--{else}-->
						<script type="text/javascript">// document.cookie='LastMenuViews=0';</script>	
						<!--{/if}-->

						<!--{if $_G['forum']['threadsorts']}-->
							<!--{if $_G['forum']['threadtypes']}--><li><span class="pipe">|</span></li><!--{/if}-->
							<!--{loop $_G['forum']['threadsorts']['types'] $id $name}-->
								<!--{if $_GET['sortid'] == $id}-->
								<li class="xw1 a"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]{if $_GET['typeid']}&filter=typeid&typeid=$_GET['typeid']{/if}{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}">$name<!--{if $showthreadclasscount[sortid][$id]}--><span class="xg1 num">$showthreadclasscount[sortid][$id]</span><!--{/if}--></a></li>
								<!--{else}-->
								<li><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$id$forumdisplayadd[sortid]{if $_GET['archiveid']}&archiveid={$_GET['archiveid']}{/if}">$name<!--{if $showthreadclasscount[sortid][$id]}--><span class="xg1 num">$showthreadclasscount[sortid][$id]</span><!--{/if}--></a></li>
								<!--{/if}-->
							<!--{/loop}-->
						<!--{/if}-->
						<!--{hook/forumdisplay_filter_extra}-->
					</ul>
					
					<script type="text/javascript">showTypes('thread_types');</script>
				<!--{/if}-->
		
		
		
		
	<!--{/loop}-->
	</dl>
<!--{/loop}-->
